<h2>Nápověda</h2>
<p>V této studii je cílem získat data, která by měla umožnit pozorovat, zda slovní spojení spojená se snímky pomohou
    uživatelům s vyhledáváním. Z tohoto důvodu je <b>důležité, aby při reformulaci dotazu byly využívány třídy
        snímků</b>.</p>

<h3>Postup vyhledávání</h3>
<p>Vaším úkolem je <b>nalézt snímek</b>, který bude zobrazen v levém spodním rohu, za pomoci maximálně dvou textových dotazů. V
    tomto úkolu by Vám měli pomoct třídy (slovní spojení zobrazená pod snímky), do kterých byly jednotlivé snímky
    zařazeny.</p>
<ol>
    <li>Prohlédněte si hledaný snímek (v levém spodním rohu).</li>
    <li>Formulujte textový dotaz (v angličtině) popisující hledaný snímek do textového pole v levém horním rohu.</li>
    <li>Pomocí klávesnice <b>Enter</b> nebo tlačítka <b>Text search</b> odešlete dotaz.</li>
    <li>Pozorně se podívejte na výsledek vyhledání
        <ul>
            <li>Pokud naleznete hledaný snímek, odešlete ho pomocí <b>ctrl</b> + <b>kliknutí</b> na daný
                snímek.
            </li>
            <li>V opačném případě
                <ol>
                    <li>Reformulujte dotaz pomocí vlastních slov nebo pomocí tříd snímků
                        <ol>
                            <li>Zkuste najít snímek, který je velmi podobný hledanému snímku (ideálně obsahuje stejně
                                vypadající objekt).
                            </li>
                            <li>Zvolte nějakou z tříd snímku (slovní spojení pod snímkem) a kliknutím na ni ji přidejte
                                do textového dotazu.
                            </li>
                        </ol>
                    </li>
                    <li>Odešlete reformulovaný dotaz stejně jako v kroku 3.</li>
                </ol>
            </li>
        </ul>
    </li>
</ol>
<p>V případě, že aktuálně hledaný snímek nemůžete najít nebo ho nechcete hledat, je možné stisknout tlačítko <b>Next</b>
    a tím
    aktuálně hledaný snímek přeskočit. </p>
<p>Pokud chcete snímek zvětšit a vidět ho v kontextu videa z něhož je, použijte <b>dvojklik</b> na daný snímek. Při zobrazení v
    kontextu videa však není povoleno snímky odesílat (kvůli aktuálně testované metodě).</p>
<p>Ke každému snímku je přiřazeno 10 tříd (slovních spojení), která jsou seřazena podle relevantnosti (na 1. místě je
    třída, která nejlépe popisuje snímek) pod každým snímkem (pro náhled všech je nutné zmáčknout tlačítko +). Barvy (od červené až po zelenou) tříd odpovídají jedinečnosti třídy v
    datasetu. Pro vyhledávání je lepší používat <b>třídy zelené barvy</b>, jelikož tyto třídy jsou málo zastoupené v
    datasetu a proto je větší šance, že pomohou s vyhledáváním.</p>