{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GASearcher</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
    <script type="text/javascript" src="../static/js/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
</head>
<body>
<h1>Video retrieval</h1>
<h2>Informovaný souhlas</h2>
<p>S čím byste měli souhlasit v případě, že chcete pokračovat:</p>
<p>Seznámili jste se s cíli a obsahem výzkumu (viz Nápověda níže) a nevadí Vám se na něm podílet (např. není v rozporu s
    Vaším přesvědčením). Souhlasíte s tím, že mohou být použity Vaše (anonymní) odpovědi k prezentaci například ve
    vědeckých pracích.</p>
<p>V práci, která na základě výzkumu vznikne, bychom chtěli zveřejnit dataset s výsledky v následujícím rozsahu:</p>
<ul>
    <li>anonymizovaný, náhodně vygenerovaný identifikátor účastníka (něco jako UID = rYTAp9IY)</li>
    <li>textové dotazy účastníka spojené s postupem vyhledávání</li>
</ul>
<p>Výzkum můžete kdykoliv v průběhu ukončit zavřením okna, avšak Vaše vyhledávání bude zaznamenáno průběžně. V případě,
    že budete chtít svůj souhlas se zpracováním Vašich odpovědí odvolat, napište e-mail na <i>zuzana.vop@gmail.com</i> (ideálně
    s přibližným časem začátku Vašeho experimentu). </p>

<script>
  fetch('templates/help.html')
    .then(response => response.text())
    .then(data => {
      document.getElementById('help_context').innerHTML = data;
    });
</script>
<button class="bar-item" onclick="location.href = '/search';">Search</button>
<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
</body>
<script>
    document.cookie = "index=0";
    document.cookie = 'trying=-1';
    document.cookie = 'last_query=""';
    document.cookie = 'activity=""';
</script>
</html>