html {
    font-size: 1.2em;
    padding: 2%;
}

.split {
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    margin: 5px;
}

.left {
    left: 0;
    width: 20%;
}

.right {
    right: 0;
    width: 80%;
}

div.sidebar {
    position: absolute;
    text-align: center;
}

div.container {
    position: absolute;
    height: 85%;
}

div.context {
    position: absolute;
    bottom: 0;
    height: 15%;
    overflow:hidden;
    white-space:nowrap;
    left: 0;
}

img {
    margin: 3px;
    width: 9%;
    height: auto;
}

img.unselected {
    border-style: hidden;
}

img.selected {
    border-style: solid;
    border-color: yellow;
}