html {
    font-size: 100%;
    padding: 2%;
}

.split {
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    margin: 5px;
}

.left {
    left: 0;
    width: 20%;
}

.right {
    right: 0;
    width: 80%;
}

.sidebar {
    position: absolute;
    text-align: center;
}

.container {
    position: absolute;
    height: 85%;
    float: left;
    margin: 0 3%;
}

.context {
    position: absolute;
    bottom: 0;
    height: 15%;
    overflow:hidden;
    white-space:nowrap;
    left: 0;
    background: white;
}

img {
    margin: 3px;
    width: 100%;
    height: auto;
}

img.unselected {
    border-style: hidden;
}

img.selected {
    border-style: solid;
    border-color: yellow;
}

.sidebar img {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 18%;
}

.context img {
    width: 8%;
}

button {
    background-color: #fff;
    border: 1px solid #d5d9d9;
    border-radius: 8px;
    box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
    box-sizing: border-box;
    color: #0f1111;
    cursor: pointer;
    display: inline-block;
    font-family: "Amazon Ember",sans-serif;
    padding: 2% 5%;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    margin: 1%;
}

button:hover {
    background-color: #f7fafa;
}

button:focus {
    border-color: #008296;
    box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
    outline: 0;
}

.bar-item {
    margin: 5% 0;
    border-color: #05b4cd;
}


.img_div {
    float: left;
    width: 8%;
    height: auto;
    position: relative;
    margin: 0 0 2% 0;
}

.img_div div {
    position: absolute;
    float: left;
    font-size: 50%;
    bottom: -20%;
}